{erl_opts,
 [debug_info,
  {i, "i"}
 ]}.
{deps,
 [{gun, {git, "https://github.com/ninenines/gun", {branch, "master"}}},
  {jsone, {git, "https://github.com/sile/jsone", {branch, "master"}}}
 ]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [comictrack_bot]}
]}.

{relx,
 [{release, {comictrack_bot, "0.1.0"},
   [comictrack_bot,
    gun,
    jsone,
    mnesia,
    sasl
   ]},
  {dev_mode, false},
  {include_erts, false},
  {sys_config, "./config/sys.config"},
  {vm_args, "./config/vm.args"},
  {extended_start_script, true}
 ]}.
